:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body,
#root,
.map {
  margin: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

.leaflet-control {
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 400px;
}

.control-popup {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 30px;
  text-shadow: black 0px 0px 1px;
  text-align: center;
  user-select: none;
}

.control-popup-monochrome {
  filter: grayscale();
}

.leaflet-control:hover .control-popup {
  display: none;
}

.leaflet-control:hover .control-popup-keep {
  display: block;
}

.leaflet-control:has(.control-popup-selected) {
  background-color: #747bff;
  border-color: #747bff33;
}

.control-content {
  display: none;
}

.leaflet-control:hover .control-content {
  display: block;
  color: black;
  font-size: 1.08333em;
  text-align: right;
  min-height: 44px;
  min-width: 44px;
  padding: 6px 10px 6px 6px;
}

.control-content-left {
  text-align: left !important;
}

.control-content span {
  display: flex;
  width: 100%;
}

.control-content input {
  margin-right: auto;
}

.collectable-list {
  position: absolute;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: black;
  bottom: 10px;
  left: 56px;
  width: 300px;
  max-width: calc(100dvw - 132px);
  max-height: 50dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 8px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

.collectable-list-hidden {
  display: none;
}
